@model WebApp.Models.ChungNhan
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit ChungNhan";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="IdchungNhan" />
    <div class="form-group">
        <label asp-for="MoTa"></label>
        <textarea asp-for="MoTa" class="form-control"></textarea>
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HinhAnhChungNhan">ChungNhan Image</label>
        <input id="inputImg" type="file" asp-for="HinhAnhChungNhan" class="form-control"/>
        <span asp-validation-for="HinhAnhChungNhan" class="text-danger"></span> <!-- Phản hồi lỗi cho trường ImageUrl -->
    </div>

    <div class="mt-2 mb-2">
        <img id="imgViewer" class="img-thumbnail" alt="Product Image" src="@Model.HinhAnhChungNhan" style="max-width: 200px;" />
    </div>
    <button type="submit" class="btn btn-primary m-1">Update</button>
    <a asp-action="Index" class="btn btn-success m-1">Cancel</a>
</form>
@section Scripts {
    <script>
        document.getElementById("inputImg").addEventListener("change", function (e) {
            var files = e.target.files;
            document.getElementById("imgViewer").src = window.URL.createObjectURL(files[0]);
        });
    </script>
}