
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApp.Models.SanPham
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Add Product";
}

<h2>@ViewData["Title"]</h2>
    
<form asp-area="Admin" asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="SpName"></label>
        <input asp-for="SpName" class="form-control" />
        <span asp-validation-for="SpName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MoTa"></label>
        <textarea asp-for="MoTa" class="form-control"></textarea>
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CongDung"></label>
        <textarea asp-for="CongDung" class="form-control"></textarea>
        <span asp-validation-for="CongDung" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ThanhPhanDinhDuong"></label>
        <textarea asp-for="ThanhPhanDinhDuong" class="form-control"></textarea>
        <span asp-validation-for="ThanhPhanDinhDuong" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Hdsd"></label>
        <textarea asp-for="Hdsd" class="form-control"></textarea>
        <span asp-validation-for="Hdsd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Idcategory">Category</label>
        <select asp-for="Idcategory" asp-items="@ViewBag.Categories" class="form-control"></select>
        <span asp-validation-for="Idcategory" class="text-danger"></span> <!-- Phản hồi lỗi cho trường CategoryId -->
    </div>
    <div class="form-group">
        <label asp-for="Idnpp">NhaPhanPhoi</label>
        <select asp-for="Idnpp" asp-items="@ViewBag.NhaPhanPhois" class="form-control"></select>
        <span asp-validation-for="Idnpp" class="text-danger"></span> <!-- Phản hồi lỗi cho trường NhaPhanPhoi -->
    </div>
    <div class="form-group">
        <label asp-for="IdchungNhan">ChungNhan</label>
        <select asp-for="IdchungNhan" asp-items="@ViewBag.ChungNhans" class="form-control"></select>
        <span asp-validation-for="IdchungNhan" class="text-danger"></span> <!-- Phản hồi lỗi cho trường ChungNhan -->
    </div>
    <div class="form-group">
        <label asp-for="SoLuongSp"></label>
        <input asp-for="SoLuongSp" class="form-control" />
        <span asp-validation-for="SoLuongSp" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="HinhAnhSp">Product Image</label>
        <input id="inputImg" type="file" asp-for="HinhAnhSp" class="form-control" />
        <span asp-validation-for="HinhAnhSp" class="text-danger"></span> <!-- Phản hồi lỗi cho trường ImageUrl -->
    </div>
    <div class="mt-2 mb-2">
        <img id="imgViewer" class="img-thumbnail" alt="Product Image" src="~/images/0d64989794b1a4c9d89bff571d3d5842.jpg" style="max-width: 200px;" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

@section Scripts{
    <script>
        document.getElementById("inputImg").addEventListener("change", function (e) {
            var files = e.target.files;
            document.getElementById("imgViewer").src = window.URL.createObjectURL(files[0]);
        });
    </script>
}